html,body {
  width: 100%;
  height: 100%;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
$globalColor: #ed714e;
$orange: #fc7f26;
$common-blue: #529cf7;
$global-border: #dedede;
$light_yellow: #fff3dd;
$red: #ff232e;
