<div class="pullnewcnt">
    <div ng-controller="mainCtrl">
        <zt-header></zt-header>
        <div class="globalheader-wrapper">
            <div class="globalheader-wrap">
                <div  class="logo-wrap">
                    <img class="logo" ng-click="$state.go('main.home');" src="/images/global/logo.png">
                    <span></span>
                    <img class="slogo" src="/images/global/slogo.png">
                    <!-- <strong style="line-height: 40px;font-size:16px;color: rgb(196,196,196);">国资控股 已正式签署银行存管协议</strong> -->
                    <!--<i class="global-slogo"></i>-->
                </div>
            </div>
        </div>
    </div>

    <div class="container beginSem" ng-controller="financeCtrl">
        <div class="banner" >
            <div class="quick-register-wrap" style="background: none;width: 1200px">
                <div class="quick-register-wrapper" ng-if="!isLogin"  style="padding-top:0px;">
                    <form class="login_form" ng-model="login" name="loginform">
                        <input style="display:none">
                        <input type="password" style="display:none">
                        <div class="quick-register-mod regsem" style="width: 349px;">
                            <div class="quicktop" ng-show="!!historyRate">注册立领288红包</div>
                            <div class="quick-register-box">
                                <div class="input-wrap">
                                    <div class="input-box">
                                        <div class="input-mod">
                                            <b class="icon pullnew-phone"></b>
                                            <input id="mobilephone" ng-blur="blurID('focusMobilephone',loginform)"
                                                   type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/"
                                                   placeholder="请输入手机号码"
                                                   onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" class="text"
                                                   ng-model="login.mobilephone" name="mobilephone" required
                                                   minlength="11" maxlength="11"/>
                                        </div>
                                        <i ng-show="loginform.mobilephone.$valid"
                                           ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.mobilephone.$valid]"></i>
                                        <span class="error" ng-show="loginform.mobilephone.$valid">{{loginform.mobilephone | zhuCePhoneError:serverErrorCode}}</span>
                                    </div>
                                </div>
                                <div class="input-wrap" ng-if="showPic">
                                    <div class="input-box">
                                        <div class="img-box"><img ng-click="clickInput('changePic',$event)"
                                                                  src="login/validateCode.do"></div>
                                        <div class="input-mod small-inputmod">
                                            <b class="icon pullnew-code"></b>
                                            <input type="text" placeholder="请输入图形验证码" class="text small-text"
                                                   ng-model="login.picCode" name="picCode" minlength="4" maxlength="4"
                                                   required autocomplete="off"/>
                                        </div>
                                        <i ng-show="loginform.picCode.$valid"
                                           ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.picCode.$valid]"></i>
                                        <span class="error" ng-show="loginform.picCode.$valid"><font>{{loginform.picCode | zhuCePicCodeError:serverErrorCode}}</font></span>
                                    </div>
                                </div>
                                <div class="input-wrap">
                                    <div class="input-box">
                                        <a href="" ng-if="loginform.mobilephone.$valid" class="get-code"
                                           ng-class="{true: 'getcode-disabled',false: ''}[isGetCode]">{{nowTimer}}获取验证码</a>
                                        <a href="" ng-if="!loginform.mobilephone.$valid"
                                           ng-click="clickInput('phonecodeMSG',$event,null,loginform,false)"
                                           class="get-code" ng-class="{true: 'getcode-disabled',false: ''}[isGetCode]">{{nowTimer}}获取验证码</a>
                                        <div class="input-mod small-inputmod">
                                            <b class="icon pullnew-code"></b>
                                            <input ng-disabled="!loginform.mobilephone.$dirty || loginform.mobilephone.$valid"
                                                   placeholder="请输入短信验证码" type="text" ng-model="login.smsCode"
                                                   name="smsCode" class="text small-text" maxlength="4" onkeyup="value=value.replace(/[^\d]/g,'')" required/>
                                        </div>
                                        <i ng-show="loginform.smsCode.$valid"
                                           ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.smsCode.$valid]"></i>
                                        <span class="error" ng-show="loginform.smsCode.$valid"><font color="red">{{loginform.smsCode |zhuCesmsCodeCodeError:serverErrorCode}}</font></span>
                                    </div>
                                </div>
                                <div class="input-wrap">
                                    <div class="input-box passwd-box">
                                        <div class="input-mod">
                                            <b class="icon pullnew-mycode"></b>
                                            <input autocomplete="off" ng-show="passwordText"
                                                   placeholder="密码为6-16位字母数字混合"
                                                   ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/"
                                                   ng-mouseout="showPassword(passwordText)" type="text"
                                                   ng-model="login.passWord" class="text" name="passWord" maxlength="16" required/>
                                            <input autocomplete="off" ng-hide="passwordText"
                                                   placeholder="密码为6-16位字母数字混合"
                                                   ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/"
                                                   type="passWord" ng-model="login.passWord" class="text"
                                                   name="passWord" maxlength="16" required/>
                                        </div>
                                        <i ng-class="{true:'login-icons-eyehide',false:'login-icons-eye'}[passwordText]"
                                           ng-click="showPassword(passwordText)"></i>

                                        <i ng-show="loginform.passWord.$valid"
                                           ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.passWord.$valid]"></i>
                                        <span class="error" ng-show="loginform.passWord.$valid"><font>{{loginform.passWord | zhuCePassWordError:serverErrorCode}}</font></span>
                                    </div>
                                </div>
                                <div class="agreement-box">
                                    <!--<label for="agreement">我已阅读并同意<a href="/zc" target="_blank" class="server-agreement">《沪深理财注册协议》</a>-->
                                        <!--<input type="checkbox" ng-model="login.checkbox" class="check-box" id="agreement" checked/>-->
                                    <!--</label>-->
                                    <label class="agree" for="agreement">我已阅读并同意<a href="/zc" target="_blank" class="server-agreement">《沪深理财注册协议》</a>
                                        <i ng-model="login.checkbox" class="check-box" id="agreement" ng-click="agree=!agree" ng-class="{checked:agree}" ng-init="agree=true"></i>
                                    </label>
                                </div>
                                <div class="sub-box" ng-if="!loginform.$invalid" ng-click="LoginClick('zhuCe',loginform)">
                                    <input ng-disabled="loginform.$invalid || !agree" class="sub-btn sub regsub" type="submit" value="{{ !!submitTxt ? submitTxt : '马上领取'}}"/>
                                </div>
                                <div class="sub-box" ng-if="loginform.$invalid">
                                    <input ng-disabled="loginform.$invalid || !agree" class="sub-btn sub regsub" type="submit" value="{{ !!submitTxt ? submitTxt : '马上领取'}}"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="welcome" ng-if="isLogin">
                    <!--<div class="quicktop" ng-show="!!historyRate">历史年化收益率<span>{{historyRate}}%</span></div>-->
                    <div class="con">
                        <h2>欢迎您，{{user.userName}}</h2>
                        <ul>
                            <li>账户余额</li>
                            <li><span>{{account.balance}}</span> 元</li>
                            <li>近30天共有 <span>{{user.dueIn}}</span> 笔待收收益</li>
                        </ul>
                    </div>
                    <a href="/main/myAccount/accountHome" class="account">我的账户</a>
                    <div class="bot"><a href="" class="exit" ng-click="accountUserOut()">安全退出</a></div>
                </div>
            </div>
        </div>
        
        <div class="info info1">
            <img src="/images/beginSem/title1.png" class="title"><br/>
            <img src="/images/beginSem/img1-1.png"><br/>
            <img src="/images/beginSem/img1-2.png" class="img1"><br/>
            <a class="centerBtn" ng-click="toTop()" ng-if="!isLogin"><img src="/images/beginSem/btn1.png"></a>
            <a class="centerBtn" ui-sref="main.billDetail({ id: newhand.id })" ng-if="isLogin"><img src="/images/beginSem/btn1.png"></a>
        </div>
        <div class="info2">
            <img src="/images/beginSem/img2.png" class="img2"><br/>
            <a class="sbtn sbtn1" ng-click="toTop()" ng-if="!isLogin"></a>
            <a class="sbtn sbtn2" ng-click="toTop()" ng-if="!isLogin"></a>
            <a class="sbtn sbtn3" ng-click="toTop()" ng-if="!isLogin"></a>
            <a class="sbtn sbtn1" ui-sref="main.bankBillList" ng-if="isLogin"></a>
            <a class="sbtn sbtn2" ui-sref="main.bankBillList" ng-if="isLogin"></a>
            <a class="sbtn sbtn3" ui-sref="main.bankBillList" ng-if="isLogin"></a>
            <a class="modal" ng-click="toAward()"></a>
        </div>
        <div class="info info3">
            <img src="/images/beginSem/title3.png" class="title"><br/>
            <img src="/images/beginSem/img3.png"><br/>
        </div>
        <div class="info4">
            <img src="/images/beginSem/img4.png" class="img2">
        </div>
        <div class="info info5">
            <img src="/images/beginSem/title5.png" class="title"><br/>
            <img src="/images/beginSem/img5.png">
        </div>
        
        <!-- 活动规则 -->
        <div class="rule-out">
            <div class="rule">
                <div class="title"><img src="/images/beginSem/title6.png"></div>
                <div class="txt">
                    <p>1、活动时间：自2018年2月1日起；</p>
                    <p>2、此活动仅限于本页面完成注册并首次投资的新用户，首次投资成功后即送规则内对应奖励；</p>
                    <p>3、用户成功注册后，系统将自动发放288元新手红包，请前往PC端“我的账户>我的福利>我的优惠券”或APP端“我的-优惠券”查看；</p>
                    <p>4、投资时可根据投资金额使用相应红包获得返现，新手红包需在有效期内进行兑现；</p>
                    <p>5、京东卡（电子卡）将在首次投资成功后，10个工作日内发放至您的注册手机号中；</p>
                    <p>6、每个身份证仅限参与一次，刷奖及冒用他人身份证、银行卡者一经核实，将会取消其活动资格，所有奖励不予兑换；</p>
                    <p>7、此活动不与平台其他活动同享（且新手标及活动标不参与本活动）。</p>
                    <p class="last">* 本活动最终解释权归沪深理财所有，如有疑问请咨询客服：400-031-9909。</p>
                </div>
                <a class="centerBtn" ng-click="toTop()" ng-if="!isLogin"><img src="/images/beginSem/btn6.png"></a>
                <a class="centerBtn" ui-sref="main.bankBillList" ng-if="isLogin"><img src="/images/beginSem/btn6.png"></a>
            </div>
        </div>

        <!--footer部分-->
        <div class="footer">
            <p>粤ICP备17064674号-1 Copyright © 2017深圳前海云轩互联网金融服务有限公司v1.0.0</p>
            <h4>温馨提示：市场有风险，投资需谨慎</h4>
        </div>
    </div>
</div>


