<div class="pullnewcnt">
    <div ng-controller="mainCtrl">
        <!-- 欢迎栏 -->
        <div ng-hide="isLoginPage" class="top-global-wrapper">
            <div class="top-content">
                <div class="tel">
                    <i class="global-topphone"></i>
                    <b>客服热线：<span>{{(a | web).phone}}</span> (周一至周五 09:00-18:00）</b>
                </div>
                <div class="top-nav">
                    <a href="{{a|webIE8}}main/home" target="_blank">首页</a><span style="margin-right: 12px;">|</span>
                    <!--<a href="{{a|webIE8}}main/guide" target="_blank">新手指引</a><span style="margin-right: 12px;">|</span>--><a
                        href="{{a|webIE8}}main/jt2/help?menuName=help" target="_blank">帮助中心</a><span>|</span>
                    <div class="appCode"><a href="{{a|webIE8}}downloadApp"><i>手机APP</i></a>
                        <div>
                            <img src="images/global/app.png">
                            <p>手机客户端<br>APP下载</p>
                        </div>
                    </div>
                    <span style="margin-left: -4px;">|</span>
                    <div class="appCode"><i class="global-topwechat"></i>
                        <div>
                            <img src="images/global/wechat.png">
                            <p>扫一扫<br>关注官方微信</p>
                        </div>
                    </div>
                    <a ng-if="!(a | isRegister).register" href="/dl" class="register">登录</a>
                    <span ng-if="(a | isRegister).register" style="margin: 0 8px 0 -8px;">|</span>

                    <a ng-if="(a | isRegister).register" href="" ng-click="gotoLoginPage('myAccount')">{{(a | isRegister).user.userName}}</a>
                    <i ng-if="(a | isRegister).register">，</i>
                    <a ng-show="(a | isRegister).register" ng-click="userOut()" href="#" class="top-quit">退出</a>
                </div>
            </div>
        </div>
        <!-- 欢迎栏结束 -->

        <!-- 导航 -->
        <!--<div class="globalheader-wrapper">-->
            <!--<div class="globalheader-wrap">-->
                <!--<div ng-click="$state.go('main.home');" class="logo-wrap">-->
                    <!--<img src="/images/global/logo.png">-->
                    <!--<span></span>-->
                    <!--<i class="global-slogo"></i>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <div class="container pullNewSem3" ng-controller="financeCtrl">
        <!--logo-->
        <!--<div class="logo"><a href="/main/home" class="topic-logo"></a></div>-->

        <!-- SEM 注册登录窗口 begin -->
        <div class="banner">
            <div class="quick-register-wrap" style="background: none">
                <div class="quick-register clearfix">
                    <div class="quick-register-wrapper" ng-if="!isLogin">
                        <form class="login_form" ng-model="login" name="loginform">
                            <input style="display:none">
                            <input type="password" style="display:none">
                            <div class="quick-register-mod regsem" style="width: 349px;">
                                <div class="quick-register-box">
                                    <div class="input-wrap">
                                        <div class="input-box">
                                            <div class="input-mod">
                                                <b class="icon pullnew-phone"></b>
                                                <input id="mobilephone" ng-blur="blurID('focusMobilephone',loginform)" type="text" ng-pattern="/^1[3|4|5|7|8][0-9]{9}$/"  placeholder="请输入手机号码" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'')" class="text"  ng-model="login.mobilephone" name="mobilephone" required minlength="11" maxlength="11" />
                                            </div>
                                            <i ng-show="loginform.mobilephone.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.mobilephone.$valid]"></i>
                                            <span class="error" ng-show="loginform.mobilephone.$valid">{{loginform.mobilephone | zhuCePhoneError:serverErrorCode}}</span>
                                        </div>
                                    </div>
                                    <div class="input-wrap">
                                        <div class="input-box">
                                            <div class="img-box"><img ng-click="clickInput('changePic',$event)" src="login/validateCode.do"></div>
                                            <div class="input-mod small-inputmod">
                                                <b class="icon pullnew-code"></b>
                                                <input type="text" placeholder="请输入图形验证码" class="text small-text" ng-model="login.picCode" name="picCode" minlength="4" maxlength="4" required autocomplete="off" />
                                            </div>
                                            <i ng-show="loginform.picCode.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.picCode.$valid]"></i>
                                            <span class="error" ng-show="loginform.picCode.$valid"><font>{{loginform.picCode | zhuCePicCodeError:serverErrorCode}}</font></span>
                                        </div>
                                    </div>
                                    <div class="input-wrap">
                                        <div class="input-box">
                                            <a href="" ng-if="loginform.mobilephone.$valid" class="get-code" ng-class="{true: 'getcode-disabled',false: ''}[isGetCode]">{{nowTimer}}获取验证码</a>
                                            <a href="" ng-if="!loginform.mobilephone.$valid" ng-click="clickInput('phonecodeMSG',$event,null,loginform,false)" class="get-code" ng-class="{true: 'getcode-disabled',false: ''}[isGetCode]">{{nowTimer}}获取验证码</a>
                                            <div class="input-mod small-inputmod">
                                                <b class="icon pullnew-code"></b>
                                                <input ng-disabled="!loginform.mobilephone.$dirty || !loginform.picCode.$dirty || loginform.mobilephone.$valid || loginform.picCode.$valid" placeholder="请输入短信验证码" type="text" ng-model="login.smsCode" name="smsCode" class="text small-text" maxlength="4" required/>
                                            </div>
                                            <i ng-show="loginform.smsCode.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.smsCode.$valid]"></i>
                                            <span class="error" ng-show="loginform.smsCode.$valid"><font color="red">{{loginform.smsCode |zhuCesmsCodeCodeError:serverErrorCode}}</font></span>
                                        </div>
                                    </div>
                                    <div class="input-wrap">
                                        <div class="input-box passwd-box">
                                            <div class="input-mod">
                                                <b class="icon pullnew-mycode"></b>
                                                <input autocomplete="off" ng-show="passwordText" placeholder="密码为6-16位字母数字混合" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/" ng-mouseout="showPassword(passwordText)" type="text" ng-model="login.passWord" class="text" name="passWord" maxlength="16" required />
                                                <input autocomplete="off" ng-hide="passwordText" placeholder="密码为6-16位字母数字混合" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,16}$/" type="passWord" ng-model="login.passWord" class="text" name="passWord" maxlength="16"  required/>
                                            </div>
                                            <i ng-class="{true:'login-icons-eyehide',false:'login-icons-eye'}[passwordText]" ng-click="showPassword(passwordText)"></i>

                                            <i ng-show="loginform.passWord.$valid" ng-class="{false: 'common-form-ok', true: 'common-form-error'}[loginform.passWord.$valid]"></i>
                                            <span class="error" ng-show="loginform.passWord.$valid"><font>{{loginform.passWord | zhuCePassWordError:serverErrorCode}}</font></span>
                                        </div>
                                    </div>
                                    <div class="agreement-box">
                                    <label for="agreement">我已阅读并同意<a href="/zc" target="_blank" class="server-agreement">《沪深理财注册协议》</a><i  ng-model="login.checkbox" class="check-box" id="agreement" ng-click="agree=!agree" ng-class="{checked:agree}" ng-init="agree=true"></i></label>
                                    </div>
                                    <div class="sub-box" ng-if="!loginform.$invalid" ng-click="LoginClick('zhuCe',loginform)">
                                        <input ng-disabled="loginform.$invalid || !agree" class="sub-btn sub regsub" type="submit" value="立即领取" />
                                    </div>
                                    <div class="sub-box" ng-if="loginform.$invalid">
                                        <input ng-disabled="loginform.$invalid || !agree" class="sub-btn sub regsub" type="submit" value="立即领取" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="welcome" ng-if="isLogin">
                        <div class="con">
                            <h2>欢迎您，{{user.userName}}</h2>
                            <ul>
                                <li>账户余额</li>
                                <li><span>{{account.balance}}</span>元</li>
                                <li>近30天共有{{user.dueIn}}笔待收收益</li>
                            </ul>
                        </div>
                        <a href="/main/myAccount/accountHome" class="account">我的账户</a>
                        <div class="bot"><a href="" class="exit" ng-click="accountUserOut()">安全退出</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SEM 注册登录窗口 end -->

        <!--壕礼1-->
        <div class="pullnew-sem3-first"></div>
        <div class="gift1 gift clearfix">
            <img src="/images/pullnew/sem3-money1.png" class="money1">
            <img src="/images/pullnew/sem3-money2.png" class="money2">
            <div class="left">
                <div class="pullnew-sem3-redbag"></div>
                <div class="alignCenter">
                    <a ng-click="toTop()" class="toreceive" ng-if="!isLogin">立即领取</a>
                    <a ui-sref="main.bankBillList" class="toreceive" ng-if="isLogin">立即领取</a>
                    <!--<img src="/images/pullnew/receiveBtn.png" />-->
                    <p>注册后立即到账户-我的优惠券</p>
                </div>
            </div>
            <div class="center"><img src="/images/pullnew/sem3-attach.png"></div>
            <div class="right">
                <h5>他们都在领红包</h5>
                <div class="first clearfix">
                    <span>用户</span>
                    <span>领取时间</span>
                </div>
                <div class="out">
                    <ul class="userlist">
                        <li ng-repeat="item in userList" class="clearfix">
                            <span>{{item.mobilePhone}}</span>
                            <span>{{item.regdate}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--壕礼2-->
        <div class="pullnew-sem3-second"></div>
       <!--  <p class="alignCenter">每位用户<span>仅限一次</span>新手标，100元起投，机不可失！</p> -->
        <div class="newhand gift">
            <div class="info">
                <div class="text">
                    <ul>
                        <li><span>历史年化收益率</span></li>
                        <li><span>投资期限</span></li>
                        <li><span>可用新手红包哦</span></li>
                    </ul>
                    <ul class="nums">
                        <li class="rate"><i style="font-weight:500;">12.88{{rate}}</i>%</li>
                        <li class="days"><i style="font-weight:500;">5{{deadline}}</i>天</li>
                        <li><img src="images/pullnew/pullnew.png"/></li>
                    </ul>
                </div>
            </div>
            <div class="alignCenter">
                <a ng-click="toTop()" class="toreceive" ng-if="!isLogin">立即抢购</a>
                <a ui-sref="main.billDetail({ id: newhand.id })" class="toreceive" ng-if="isLogin">立即抢购</a>
                <p>偷偷告诉你，只要未投资过新手标，老用户也能投哦</p>
            </div>
        </div>

        <!-- 新手大讲堂 -->
        <div class="pullnew-sem3-third"></div>
        <div class="lecture gift">
            <img src="/images/pullnew/sem3-money3.png" class="money3">
            <img src="/images/pullnew/sem3-money4.png" class="money4">
            <img src="/images/pullnew/sem3-lecture.png">
        </div>

        <!--沪深理财的优势-->
        <div class="pullnew-sem3-fourth"></div>
        <div class="ins intros">
            <img src="/images/pullnew/sem3-money5.png" class="money5">
            <div class="item">
                <ul>
                    <li class="pullnew-intro1"></li>
                    <li class="title">实力雄厚</li>
                    <li class="des">实缴1亿注册资金</li>
                </ul>
            </div>
            <div class="item">
                <ul>
                    <li class="pullnew-intro2"></li>
                    <li class="title">风险保障</li>
                    <li class="des">精准风控优先垫付</li>
                    
                </ul>
            </div>
            <div class="item">
                <ul>
                    <li class="pullnew-intro3"></li>
                    <li class="title">银行存管</li>
                    <li class="des">正式签约存管协议</li>
                </ul>
            </div>
            <div class="item">
                <ul>
                    <li class="pullnew-intro4"></li>
                    <li class="title">合规经营</li>
                    <li class="des">专业级律所法律支持</li>
                </ul>
            </div>
        </div>

        <!--活动规则-->
        <div class="ruls">
            <div class="rulswidth">
                <div class="pullnew-sem3-ruletitle"></div>
                <div class="txt">
                    <ul>
                        <li>活动时间：2017年10月17日起，本活动仅针对活动期间内注册的新用户；
                        <li>活动期间，新用户注册即送288元新手红包，请前往“我的账户>我的福利”查看；</li>
                        <li>新手红包领取后需在有效期内进行使用，逾期作废,不补发；</li>
                        <li>新手红包适用投资项目以实际使用为准,可在投资时勾选使用；</li>
                        <li>请用户仔细阅读本规则并依照本规则参与活动,如有违反或超出本规则的情形,或者因用户本人操作不当无法参与活动,将不能依照本规则享受相关权益。</li>
                        </li>
                    </ul>
                    <br/>
                    <span>* 本活动由沪深理财发起并就活动内容作出解释和说明，如有疑问请联系客服 400-031-9909</span>
                </div>
                <a ng-if="!isLogin" ng-click="toTop()"><div class="pullnew-sem3-receivePacket"></div></a>
                <a ng-if="isLogin" ui-sref="main.bankBillList"><div class="pullnew-sem3-receivePacket"></div></a>
            </div>
        </div>


        <!--footer部分-->
        <div class="footer">
            <p>粤ICP备17064674号-1 Copyright © 2017深圳前海云轩互联网金融服务有限公司v1.0.0</p>
            <h4>温馨提示：市场有风险，投资需谨慎</h4>
        </div>
    </div>
</div>
