<div ng-if="isShowOver" ng-init="changeIMGCode()" class="dialog invest-dialog ecommer-dialog">
    <div class="title">投资7天报销专属标
        <!--<span class="fr" ng-click="closeDialog()">x</span>-->
    </div>
    <div class="dialog-content reim">
        <div class="price">仅需投资200元，本期报销自动打入您账户余额</div><br/>
        <div class="bxje immediateInvest">
            <ul>
                <li><span class="colorRed">4<em class="colorRed">%</em></span> <br/>历史年化收益率</li>
                <li><span>7<em>天</em></span> <br/>锁定期</li>
                <li>
                    <div class="accbaoxiao">
                        <div class="baoxiao" ng-click="toInvest()">立即投资</div>
                    </div>
                    <div>到期收益<em class="colorRed">0.15元</em></div>
                </li>
            </ul>
        </div>
    </div>
</div>