<div class="investgift-question-wrap" ng-class="{false:'investgift-success-wrap'}[showQ]">
	<a href="" class="close" ng-click="closeAskDialog()"></a>
	<div class="inner" ng-if="showQ">
		<ul>
			<li>
				<span>1.关于活动礼品</span>
				<p>平台精选多种品质商品作为活动好礼，供用户投资领取。根据活动情况，礼品可能会进行上下架调整，具体请以活动页展示为准。</p>
			</li>
			<li>
				<span>2.礼品是否可以选择尺寸及颜色？</span>
				<p>活动送出的奖品为固定型号固定尺寸，不可选择。礼品颜色一般默认为平台展示的颜色，具体将以实际库存颜色随机发货，如有特别要求请在投资后1日内联系客服400-031-9909告知，我们将尽力满足您的颜色要求，逾期则无法受理。</p>
			</li>
			<li>
				<span>3.礼品售后保障怎么办？</span>
				<p>本活动礼品不提供发票，凡活动获得的实物类礼品，若有质量问题，可联系商家进行售后退换或维修，售后服务以商家为准，沪深客服可配合您完成售后咨询。</p>
			</li>
			<li>
				<span>4.未及时收到礼品是什么原因？</span>
				<p>如您投资后未填写收货信息或收货信息不全，礼品会在客服致电确认收货信息后，按流程处理订单及发货，此类情况可能导致礼品延期发货；部分礼品因库存因素等无法保证具体发货时间，如未能及时到货也请您耐心等待，我们承诺会按照下单顺序，尽快发货！</p>
			</li>
			<li>
				<span>5.礼品价格与市场价不一样，为什么？</span>
				<p>因礼品为沪深平台批量采购，采购价格在市场价格上下浮动，如礼品采购价高于市场价则您无需补价，如采购价低于市场价则平台不另作补偿。</p>
			</li>
		</ul>
	</div>
	<div class="success" ng-if="!showQ">
		<i></i>
	</div>
</div>