<div class="redbag-dialog-wrap">
    <img src="images/redbag/zhucebg.png" ng-show="promoteHasReturn" class="bg">
    <div class="bag-wrap">
        <ul class="bag" ng-repeat="item in zcRedPackets">
            <li class="first"><i>￥</i>{{item.amount}}</li>
            <li class="second">有效期至：{{item.expireDate | date:'yyyy-MM-dd'}}</li>
            <li class="third"><img src="images/redbag/line.png"></li>
            <li class="fourth">单笔满{{item.enableAmount}}元</li>
            <li class="fifth">{{item.productDeadline}}天以上(含{{item.productDeadline}}天)</li>
            <li class="sixth">
                <a href="" ng-click="promoteGoToUse(item)" class="btn">立即变现</a>
            </li>
        </ul>
    </div>
    <div class="giveupBox">
        <a href="" class="giveup" ng-click="closeDialog()"></a>
    </div>
</div>