<div ng-controller="mainCtrl" class="download-app-wrapper">
    <!--欢迎栏-->
    <!--<div ng-hide="isLoginPage" class="top-global-wrapper">
        <div class="top-content">
            <div class="tel">
                <i class="global-topphone"></i>
                <b>客服热线：<span>{{(a | web).phone}}</span> (周一至周五 09:00-18:00）</b>
            </div>
            <div class="top-nav">
                <a href="{{a|webIE8}}main/guide" target="_blank">新手指引</a><span style="margin-right: 12px;">|</span><a href="{{a|webIE8}}main/jt2/help?menuName=help" target="_blank">帮助中心</a><span>|</span>
                <div class="appCode"><a href="{{a|webIE8}}downloadApp"><i>手机APP</i></a>
                    <div>
                        <img src="images/global/app.png">
                        <p>手机客户端<br>APP下载</p>
                    </div>
                </div><span style="margin-left: -4px;">|</span>
                <div class="appCode"><i class="global-topwechat"></i>
                    <div>
                        <img src="images/global/wechat.png">
                        <p>扫一扫<br>关注官方微信</p>
                    </div>
                </div>
                <span ng-if="(a | isRegister).register" style="margin: 0 8px 0 -8px;">|</span>
                <a ng-if="(a | isRegister).register" href="" ng-click="gotoLoginPage('myAccount')">{{(a | isRegister).user.userName}}</a>
                <i ng-if="(a | isRegister).register">，</i>
                <a ng-show="(a | isRegister).register" ng-click="userOut()" href="#" class="top-quit">退出</a>
            </div>
        </div>
    </div>-->
    <div ng-hide="isLoginPage" class="top-global-wrapper">
        <div class="top-content">
            <div class="tel">
                <i class="global-topphone"></i>
                <b>客服热线：<span>{{(a | web).phone}}</span> (周一至周五 09:00-18:00）</b>
                <div class="appCode"><i class="global-topwechat"></i>
                    <div>
                        <img src="images/global/wechat.png">
                        <p>扫一扫<br>关注官方微信</p>
                    </div>
                </div>
            </div>
            <div class="top-nav">
                <!--<a href="{{a|webIE8}}main/home" target="_blank">首页</a><span class="verLine">|</span>-->
                <a class="pad12" href="{{a|webIE8}}inviteFriends" target="_blank"><i class="global-gift"></i>邀请有礼</a><span class="verLine pad12">|</span>
                <a class="pad12 padR0" href="{{a|webIE8}}main/guide" target="_blank">新手指引</a><span>|</span>
                <a class="pad12 padR0" href="{{a|webIE8}}main/jt2/help?menuName=help" target="_blank">帮助中心</a><span>|</span>
                <div class="appCode pad12" style="margin-right: -4px;"><a href="{{a|webIE8}}downloadApp"><i>APP下载</i></a>
                    <div>
                        <img src="images/global/app.png">
                        <p>手机客户端<br>APP下载</p>
                    </div>
                </div>
                <!--<span>|</span>-->
                <!--<a ng-if="!(a | isRegister).register" href="/dl" class="register">　登录</a>-->
                <span ng-if="(a | isRegister).register" style="margin: 0 8px 0 -8px;">|</span>

                <a ng-if="(a | isRegister).register" href="" ng-click="gotoLoginPage('myAccount')">{{(a |
                    isRegister).user.userName}}</a>
                <i ng-if="(a | isRegister).register">，</i>
                <a ng-show="(a | isRegister).register" ng-click="userOut()" href="#" class="top-quit">退出</a>
            </div>
        </div>
    </div>

    <!-- 导航 -->
    <div class="globalheader-wrapper">
        <div class="globalheader-wrap">
            <div ng-click="$state.go('main.home');" class="logo-wrap">
                <img src="/images/global/logo.png">
                <span></span>
                <!--<i class="global-slogo"></i>-->
                <img class="slogo" src="/images/global/slogo.png">
            </div>
            <!-- <i class="christmaslogo"></i> -->
            <div class="nav-box">
                <div>
                    <ul>
                        <li><a ng-class="{true: 'active'}[activeNav == 'home']" ng-click="activeNav='home'" href="{{a|webIE8}}main/home" style="color: #565656;">首页</a></li>
                        <li><a ng-class="{true: 'active'}[activeNav == 'bill']" ng-click="activeNav='bill'" href="{{a|webIE8}}main/bankBillList">我要投资</a></li>
                        <li><a ng-class="{true: 'active'}[activeNav == 'help']" ng-click="activeNav='help'" href="{{a|webIE8}}main/guarantee">安全保障</a></li>
                        <li><a ng-class="{true: 'active'}[activeNav == 'guild']" ng-click="activeNav='guild'" href="{{a|webIE8}}main/guide">新手指引</a></li>
                        <li><a ng-class="{true: 'active'}[activeNav == 'new']" ng-click="activeNav='new'" href="{{a|webIE8}}main/jt/JSGK?menuName=JSGK">信息披露</a></li>
                        <!--<li class="account"><a ng-class="{true: 'active'}[activeNav == 'together']" href=""><i class="drop"></i>活动专区</a><div class="con"><div><a ng-click="activeNav='together'" href="{{a|webIE8}}main/together">线上活动</a><a href="{{a|webIE8}}main/openday">开放日</a><a href="{{a|webIE8}}main/welfarelist">公益活动</a></div></div></li>-->
                        <li class="account" ng-if="(a | isRegister).register"><a href="{{a|webIE8}}dl" ng-if="!(a | isRegister).register">我的账户</a><a href="{{a|webIE8}}main/myAccount/accountHome" ng-class="{true: 'active'}[activeNav == 'account']" ng-if="(a | isRegister).register"><i class="drop"></i>我的账户</a>
                            <div class="con" ng-show="(a | isRegister).register">
                                <div><a href="{{a|webIE8}}main/myAccount/myAssets">我的资产</a><a href="{{a|webIE8}}main/myAccount/myInvest" ng-click="activeNav = 'account'">我的投资</a><a href="{{a|webIE8}}main/myAccount/myCoupon">我的优惠券</a><a href="{{a|webIE8}}main/myAccount/myMsg">我的消息</a></div>
                            </div>
                        </li>
                    </ul>
                    <div class="nologin" ng-if="!(a | isRegister).register">
                        <a href="/dl" class="login">登录</a>
                        <a href="/zhuce" class="register">注册送大礼</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="download-app-wrap" ng-controller="appdownCtrl">
        <div class="banner-wrap">
            <div class="banner">
                <i class="appdown-fan-phone" ng-if="isFan"></i>
                <i class="appdown-phone" ng-if="!isFan"></i>
                <div class="download">
                    <div class="title"><i class="appdown-logo"></i><span class="">沪深理财</span></div>
                    <div class="title">APP闪亮登场</div>
                    <!--<div class="tip">改变不止一点点！</div>-->
                    <div class="code">
                        <div class="download-btns"><br/>
                            <a href="https://itunes.apple.com/cn/app/id1259021089?mt=8" target="_blank"><div class="appdown-iphone"></div></a>
                            <!-- ios审核中
                            <div class="appdown-iphoneSh"></div>-->
                            <br/><br/>
                            <a href="apk/hushenlicai.apk" target="_blank">
                                <div class="appdown-adr"></div>
                            </a>
                            <!--<div class="btn-mod">-->
                                <!--<a target="_blank"><i class="appdown-iphone"></i>iPhone版下载&lt;!&ndash; <span class="appdown-ing"></span> &ndash;&gt;</a>-->
                            <!--</div>-->
                            <!--<div class="btn-mod">-->
                                <!--<a><i class="appdown-andriod"></i>Android版下载</a>-->
                            <!--</div>-->
                        </div>
                        <div class="app-down qrcode">
                            <img src="images/appdown/code.png">
                        </div>
                    </div>
                    <div class="appdown-fan" ng-if="isFan"></div>
                </div>
            </div>
        </div>
        <div class="center-slide">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="appdown-a"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="appdown-b"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="appdown-c"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="appdown-d"></div>
                    </div>
                </div>
                <div class="trigger"></div>
            </div>
        </div>


        <div class="bot-wrap">
            <div class="appdown-footerQrcode"></div>
            <!--<div class="bot">-->
                <!--<div class="appdown-fanbot" ng-if="isFan"></div>-->
                <!--<p class="toptip tip" ng-if="!isFan">加入沪深理财，我们不做平凡人</p>-->
                <!--<div class="download-btns">-->
                    <!--<div class="btn-mod">-->
                        <!--<a target="_blank" href="https://itunes.apple.com/us/app/ju-sheng-cai-fu/id1171321616?mt=8"><i class="appdown-iphonebot"></i>iPhone版下载&lt;!&ndash; <span class="appdown-ing"></span> &ndash;&gt;</a>-->
                    <!--</div>-->
                    <!--<div class="btn-mod android">-->
                        <!--<a><i class="appdown-andriodbot"></i>Android版下载</a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="app-down">-->
                    <!--<img src="images/appdown/code.png">-->
                <!--</div>-->
                <!--<p class="tip" ng-if="isFan">加入沪深理财，我们不做平凡人</p>-->
            <!--</div>-->
        </div>

    </div>
    <div class="special-footer reg-footer appdownfooter">
        <!--<p class="foot-nav"><a href="{{a|webIE8}}main/jt/JSGK?menuName=JSGK" target="_blank">公司简介</a><span>|</span><a href="{{a|webIE8}}main/jt/LXWM?menuName=LXWM" target="_blank">联系我们</a><span>|</span><a href="{{a|webIE8}}main/guarantee?menuName=guarantee" target="_blank">安全保障</a><span>|</span>-->
            <!--<a href="{{a|webIE8}}main/jt2/help?menuName=help" target="_blank">常见问题</a><span>|</span><a href="{{a|webIE8}}main/guide" target="_blank">新手指引</a><span>|</span><a href="{{a|webIE8}}main/FLFG" target="_blank">法律保障</a><i>市场有风险，投资需谨慎</i></p>-->
        <!--<p class="right">

            沪ICP备15011372号-1 Copyright Reserved © 深圳前海云轩互联网金融服务有限公司 {{v}}</p>-->
        <p class="right" style="float: none;">粤ICP备17064674号-1 Copyright © 2017深圳前海云轩互联网金融服务有限公司v1.0.0<br/>
            温馨提示：市场有风险，投资需谨慎</p>
    </div>
    <!--<div class="appdown-footer"></div>-->
</div>