<div ng-controller="bankBillCtrl">

    <!-- <div class="bread-nav-wrapper">
	<div class="bread-nav">
		<div class="bread-box">
		<span ng-repeat="item in path"><a href="{{item.url}}">{{item.pathName}}</a> > </span>{{title}}
		</div>
	</div>
</div> -->
    <float-menu></float-menu>
    <div class="bill-content-wrapper">
        <div class="bill-list-wrap">

            <!-- 聚划算 -->
            <div class="billing-list">
                <div class="bill-mode">

                    <!--<div class="list-title">-->
                        <!--<a href="/main/pastBillList?type=3"><i class="listicon-old"></i>往期产品</a>-->
                        <!--<b class="listicon-ju"></b>-->
                        <!--<p>聚划算</p>-->
                        <!--<div class="filter-wrap">-->
                            <!--<span>排序：</span>-->
                            <!--<ul>-->
                                <!--<li ng-click="onClickPage('默认', 1, '聚划算')" ng-class="{0:'actived',1:'',2:'',3:'',4:''}[ju.order]">默认</li>-->
                                <!--<li ng-click="onClickPage('利率', 1, '聚划算')" ng-class="{0:'',1:'actived',2:'actived',3:'',4:''}[ju.order]"><i ng-class="{1: 'bill-down', 2: 'bill-up'}[ju.lv]"></i>历史年化收益率</li>-->
                                <!--<li ng-click="onClickPage('期限', 1, '聚划算')" ng-class="{0:'',1:'',2:'',3:'actived',4:'actived'}[ju.order]"><i ng-class="{3: 'bill-down', 4: 'bill-up'}[ju.qx]"></i>期限</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--&lt;!&ndash; <div class="nums">共{{listDatas.total - 1}}条</div> 把新手标的个数去掉  &ndash;&gt;-->
                    <!--</div>-->

                    <div class="list-box">
                        <div class="list-mode-box" ng-repeat="item in juList">
                            <div class="list-mode hot-mode new-mode" ui-sref="main.billDetail({ id: item.id })" ng-class="{6: 'end-mode',7: 'end-mode',8: 'end-mode',9: 'end-mode'}[item.status]" ng-if="item.type != 1">
                                <i class="icon home-icons-hot" ng-class="{0:'bill-billingicon',1:'bill-hoticon'}[item.isHot]" ng-if="item.isHot == 1"></i><i class="icon bill-send" ng-if="item.atid != undefined"></i>
                                <i class="icon home-icons-activity" ng-if="item.atid"></i>

                                <div class="bill-name">
                                    <div class="name"><i class="public-yinicon" ng-if="item.billType == 2"></i><i class="public-shangicon" ng-if="item.billType == 1"></i>{{item.fullName}}<span class="honour-tip" ng-show="item.accept != undefined && item.accept != ''"><i class="common-honour-icon"></i>{{item.accept}}</span></div>
                                    <div class="feature-box">
                                        <p class="feature">
                                            <span ng-if="item.isInterest==1">加息券</span>
                                            <span ng-if="item.isCash==1">红包</span>
                                            <span ng-if="item.isDouble==1">翻倍券</span>
                                            <span ng-if="item.isRepair==1">补标</span>
                                            <span ng-if="item.repayType==3">等本等息 按周回款</span>
                                            <span ng-if="item.repayType==4">等本等息 按月回款</span>
                                            <!-- <span ng-if="item.activityRate>0 ">活动</span> -->
                                        </p>
                                    </div>
                                    <!-- 砸金蛋 -->
                                    <div class="egg-box" ng-show="item.maxActivityCoupon != undefined" ng-click="ifGoDetail($event,item)">
                                        <div class="egg-map">
                                            <div class="egg-shake-icon shake-rotate segg" ng-show="item.isEgg == 1" ng-click="showEggDialog(item,'list')"></div>
                                            <div class="egg-sopenegg" ng-show="item.isEgg == 2"><i>+{{item.maxActivityCoupon}}%</i></div>
                                        </div>
                                        <div class="num" ng-show="item.isEgg == 1">最高{{item.maxActivityCoupon}}%加息</div>
                                        <div class="num" ng-show="item.isEgg == 2">满标后作废哦</div>
                                        <i class="egg-sshadow"></i>
                                    </div>

                                    <!-- 双旦 -->
                                    <div class="tearbag" ng-if="shuangDanActivity && (item.deadline==60 || item.deadline==180)" ui-sref="newlayout.christmas({goTear:true})" ng-click="noGoDetail($event)">
                                        <i class="christmas-tearbag"></i>
                                        <span>开钱袋赢万元！</span>
                                    </div>

                                </div>
                                <ul>
                                    <li class="invest-btn-box">
                                        <div class="percentage-box">
                                            <i>{{item.pert | setProgress}}%</i>
                                            <div class="percentage"><span ng-attr-style="width: {{item.pert | setProgress}}%"></span></div>
                                        </div>
                                        <a href="" class="invest-btn">{{(item.status | isProductType).cnvalue}}</a>
                                    </li>
                                    <li class="rate-box">
                                        <!-- 双蛋利率 -->
                                        <p>
                                            <span class="rate"><b>{{item.rate}}</b>%</span>
                                            <!-- 双旦红包加息60 -->
                                            <i class="addrate" ng-if="shuangDanActivity && item.deadline == 60 && map.activity_60>0">+{{map.activity_60+item.activityRate}}%</i>
                                            <i class="addrate" ng-if="shuangDanActivity && item.deadline == 180 && map.activity_180>0">+{{map.activity_180+item.activityRate}}%</i>
                                            <i class="addrate" ng-if="item.activityRate !=undefined && item.activityRate>0 && !shuangDanActivity">+{{item.activityRate}}%</i>
                                        </p>
                                        <i class="txt">历史年化收益率</i>
                                    </li>
                                    <li class="line"></li>
                                    <li class="term-box">
                                        <p><span><b>{{item.deadline}}</b>天</span></p>
                                        <i class="txt">期限</i>
                                    </li>
                                    <li class="line"></li>
                                    <li class="start-box">
                                        <p><span><b>{{item.leastaAmount |currency:'':0}}</b>元</span></p>
                                        <i class="txt">起投金额</i>
                                    </li>
                                    <li class="line"></li>
                                    <li class="total-box">
                                        <p><span><b>{{item.amount |currency:'':0}}</b>元</span></p>
                                        <i class="txt">总额</i>
                                    </li>
                                    <li class="line"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 优选 -->
            <div class="billing-list billing-act">
                <div class="bill-mode">

                    <div class="list-title">
                        <a href="/main/pastBillList?type=1"><i class="listicon-old"></i>往期产品</a>
                        <b class="listicon-exclusiveIco"></b>
                        <p>专属产品</p>
                        <!-- <div class="nums">共{{listDatas.total - 1}}条</div> 把新手标的个数去掉  -->
                    </div>

                    <div class="list-box">
                        <div class="list-mode-box" ng-repeat="item in exclusive">
                            <div class="list-mode hot-mode new-mode" ui-sref="main.billDetail({ id: item.id })" ng-class="{6: 'end-mode',7: 'end-mode',8: 'end-mode',9: 'end-mode'}[item.status]" ng-if="item.type != 1">
                                <i class="icon home-icons-hot" ng-class="{0:'bill-billingicon',1:'bill-hoticon'}[item.isHot]" ng-if="item.isHot == 1"></i><i class="icon bill-send" ng-if="item.atid != undefined"></i>
                                <i class="icon home-icons-activity" ng-if="item.atid"></i>

                                <div class="bill-name">
                                    <div class="name"><i class="public-yinicon" ng-if="item.billType == 2"></i><i class="public-shangicon" ng-if="item.billType == 1"></i>{{item.fullName}}
                                        <!--<span class="honour-tip" ng-show="item.accept != undefined && item.accept != ''"><i class="common-honour-icon"></i>{{item.accept}}</span>-->
                                    </div>
                                    <div class="feature-box">
                                        <p class="feature">
                                            <span ng-if="item.isInterest==1">加息券</span>
                                            <span ng-if="item.isCash==1">红包</span>
                                            <span ng-if="item.isDouble==1 ">翻倍券</span>
                                            <span ng-if="item.isRepair==1 ">补标</span>
                                            <!-- <span ng-if="item.activityRate>0 ">活动</span> -->
                                        </p>
                                    </div>
                                    <!-- 砸金蛋 -->
                                    <div class="egg-box" ng-show="item.maxActivityCoupon != undefined" ng-click="ifGoDetail($event,item)">
                                        <div class="egg-map">
                                            <div class="egg-shake-icon shake-rotate segg" ng-show="item.isEgg == 1" ng-click="showEggDialog(item,'list')"></div>
                                            <div class="egg-sopenegg" ng-show="item.isEgg == 2"><i>+{{item.maxActivityCoupon}}%</i></div>
                                        </div>
                                        <div class="num" ng-show="item.isEgg == 1">最高{{item.maxActivityCoupon}}%加息</div>
                                        <div class="num" ng-show="item.isEgg == 2">满标后作废哦</div>
                                        <i class="egg-sshadow"></i>
                                    </div>

                                    <!-- 双旦 -->
                                    <div class="tearbag" ng-if="shuangDanActivity && (item.deadline==60 || item.deadline==180)" ui-sref="newlayout.christmas({goTear:true})" ng-click="noGoDetail($event)">
                                        <i class="christmas-tearbag"></i>
                                        <span>开钱袋赢万元！</span>
                                    </div>

                                </div>

                                <ul>
                                    <li class="invest-btn-box">
                                        <div class="percentage-box">
                                            <i>{{item.pert | setProgress}}%</i>
                                            <div class="percentage"><span ng-attr-style="width: {{item.pert | setProgress}}%"></span></div>
                                        </div>
                                        <a href="" class="invest-btn">{{(item.status | isProductType).cnvalue}}</a>
                                    </li>
                                    <li class="rate-box">
                                        <!-- 双蛋利率 -->
                                        <p>
                                            <span class="rate"><b>{{item.rate}}</b>%</span>
                                            <!-- 双旦红包加息60 -->
                                            <i class="addrate" ng-if="shuangDanActivity && item.deadline == 60 && map.activity_60>0">+{{map.activity_60+item.activityRate}}%</i>
                                            <i class="addrate" ng-if="shuangDanActivity && item.deadline == 180 && map.activity_180>0">+{{map.activity_180+item.activityRate}}%</i>
                                            <i class="addrate" ng-if="item.activityRate !=undefined && item.activityRate>0 && !shuangDanActivity">+{{item.activityRate}}%</i>
                                        </p>
                                        <i class="txt">历史年化收益率</i>
                                    </li>
                                    <li class="line"></li>
                                    <li class="term-box">
                                        <p><span><b>{{item.deadline}}</b>天</span></p>
                                        <i class="txt">期限</i>
                                    </li>
                                    <li class="line"></li>
                                    <li class="start-box">
                                        <p><span><b>{{item.leastaAmount |currency:'':0}}</b>元</span></p>
                                        <i class="txt">起投金额</i>
                                    </li>
                                    <li class="line"></li>
                                    <li class="total-box">
                                        <p><span><b>{{item.amount |currency:'':0}}</b>元</span></p>
                                        <i class="txt">总额</i>
                                    </li>
                                    <li class="line"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>